<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
                    titrePage=~{:: title},
                    contenuPage=~{:: main},
                    ressourcesSupp=~{:: #ressources-css})}">

<head>
<title data-th-text="#{article.titre}"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/index.css}">
	<link rel="stylesheet" data-th-href="@{/css/form.css}">
	<link rel="stylesheet" data-th-href="@{/css/error.css}">
</th:block>
</head>

<body>
	<main>
		<form data-th-action="@{/article/creer}" method="POST"
			data-th-object=${articleAVendre}>
			<h1 data-th-text="#{creer.titre.titre}"></h1>
			<div data-th-replace="~{fragments/fragment-article :: frag-form-article}"></div>
			<ul class="flex-outer">
				<li>
					<button type="submit" data-th-text="#{creer.input.ajout}"></button>
				</li>
			</ul>
		</form>
	</main>
</body>
</html>
