<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title}, contenuPage=~{:: main}, ressourcesSupp=~{:: #ressources-css})}">
<head>
	<title data-th-text="#{modifier-password.title}"></title>
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/form.css}">
		<link rel="stylesheet" data-th-href="@{/css/error.css}">
	</th:block>
</head>
<body>
	<main>
		<form data-th-action="@{/monprofile/modifier/motdepasse}" method="post" data-th-object="${newMotDePasse}">
			<h1 data-th-text="#{modifier-password.h1}"></h1>
			<div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>
			<ul>
				<li>
					<label data-th-text="#{modifier-password.ancien}"></label>
					<input name="ancienMotDePasse">
					<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('ancienMotDePasse')}"></div>
				</li>
				<li>
					<label data-th-text="#{modifier-password.pwd}"></label>
					<input name="nouveauMotDePasse" id="nouveauMotDePasse">
					<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('nouveauMotDePasse')}"></div>
					<label for="confirmerMotDePasse" data-th-text="#{inscription.comfirmer-mot-de-passe}"></label>
					<input name="confirmerMotDePasse" id="confirmerMotDePasse">
					<script th:inline="javascript">
						/*<![CDATA[*/

    						var password = document.getElementById("nouveauMotDePasse")
  							, confirm_password = document.getElementById("confirmerMotDePasse");

							function validatePassword(){
  								if(password.value != confirm_password.value) {
    								confirm_password.setCustomValidity(/*[[#{inscription.mdp.confirmation}]]*/);
  								} else {
    								confirm_password.setCustomValidity('');
  								}
							}

							password.onchange = validatePassword;
							confirm_password.onkeyup = validatePassword;

						/*]]>*/
					</script>
				</li>
				<li>
					<button type="submit" data-th-text="#{modifier-password.button}"></button>
				</li>
				<li>
					<a class="button" type="cancel" data-th-href="@{/monprofile}" data-th-text="#{modifier-password.annuler.button}"></a>
				</li>
			</ul>
		</form>
	</main>
</body>
</html>
