<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title}, contenuPage=~{:: main}, ressourcesSupp=~{:: #ressources-css})}">
<head>
	<title data-th-text="#{forgot-password.title}"></title>
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/form.css}">
		<link rel="stylesheet" data-th-href="@{/css/error.css}">
	</th:block>
</head>
<body>
	<main>
		<form data-th-action="@{/forgotPassword}" method="post">
			<h1 data-th-text="#{forgot-password.h1}"></h1>
			<th:block data-th-if="${msg}">
				<p class="cards" data-th-text="#{${msg}}"></p>
			</th:block>
			<ul class="flex-outer">
				<li>
					<label data-th-text="#{forgot-password.email}"></label>
					<input name="email">
				</li>
				<li  class="btn-right">
					<button type="submit" data-th-text="#{forgot-password.button}"></button>
				</li>
			</ul>
		</form>
	</main>
</body>
</html>
