<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title}, contenuPage=~{:: main}, ressourcesSupp=~{:: #ressources-css})}">
<head>
	<title data-th-text="#{reset-password.title}"></title>
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/form.css}">
	</th:block>
</head>
<body>
	<main>
		<form data-th-action="@{/changePassword}" method="post">
			<h1 data-th-text="#{reset-password.h1}"></h1>
			<th:block data-th-if="${msg}">
				<p class="cards" data-th-text="#{${msg}}"></p>
			</th:block>
			<ul class="flex-outer">
				<li>
					<label data-th-text="#{modifier-password.pwd}"></label>
					<input name="nouveauMotDePasse" id="nouveauMotDePasse">
				</li>
				<li>
					<label for="confirmerMotDePasse" data-th-text="#{inscription.comfirmer-mot-de-passe}"></label>
					<input name="confirmerMotDePasse" id="confirmerMotDePasse">
				</li>
				<script th:inline="javascript">
					/*<![CDATA[*/

					var password = document.getElementById("nouveauMotDePasse"), confirm_password = document
							.getElementById("confirmerMotDePasse");

					function validatePassword() {
						if (password.value != confirm_password.value) {
							confirm_password
									.setCustomValidity(/*[[#{inscription.mdp.confirmation}]]*/);
						} else {
							confirm_password.setCustomValidity('');
						}
					}

					password.onchange = validatePassword;
					confirm_password.onkeyup = validatePassword;

					/*]]>*/
				</script>
				<li>
					<input type="hidden" name="pseudo" data-th-value="${pseudo}">
				</li>
				<li  class="btn-right">
					<button type="submit" data-th-text="#{reset-password.button}"></button>
				</li>
			</ul>
		</form>
	</main>
</body>
</html>
